<app-toobar></app-toobar>
<div *ngIf=isLogged>
    <mat-accordion *ngFor="let meetup of meetups" class="meetup-list" multi>
        <mat-expansion-panel (afterExpand)="loadMeetupData(meetup)">
            <mat-expansion-panel-header>
                <mat-panel-title>{{meetup.description}}</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-icon>date_range</mat-icon><span class="data">Fecha : {{meetup.date}}</span><br>
            <mat-icon>supervisor_account</mat-icon><span class="data">Participantes : {{meetup.users.length}}</span><br>
            <mat-icon>wb_sunny</mat-icon><span class="data">Temperatura °C: {{meetup.temperature}}</span><br>
            <div *ngIf=isAdmin>
                <mat-icon>local_bar</mat-icon><span class="data">Cervezas : {{meetup.beers}}</span><br>
                <mat-icon>backpack</mat-icon><span class="data">Packs : {{meetup.packs}}</span>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-card *ngIf="!isLoading && !meetups" class="not-meetups">
        <mat-card-header>
            <mat-card-title>No se encontraron meetups</mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
<mat-card *ngIf=!isLogged class="not-logged">
    <mat-card-header>
        <mat-card-title>No estás logueado</mat-card-title>
    </mat-card-header>
</mat-card>